<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
      <h3 class="text-center title">Reset Your Password</h3>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">Valid email is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">Password is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required />
          <mat-error *ngIf="forgotPasswordForm.get('confirmPassword')?.invalid && forgotPasswordForm.get('confirmPassword')?.touched">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('confirmPassword')?.hasError('passwordMismatch') && forgotPasswordForm.get('confirmPassword')?.touched">Passwords do not match</mat-error>
          <!-- <div *ngIf="password.value !== confirmPassword.value && confirmPassword.touched" class="text-danger mt-2">
            Passwords do not match.
          </div> -->
        </mat-form-field>
  
        <button mat-raised-button color="primary" style="background-color: #2C7BE5; color: #fff;" class="full-width" [disabled]="forgotPasswordForm.invalid || passwordMismatch">
          Reset Password
        </button>
      </form>
    </mat-card>
  </div>
  