.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .forgot-password-card {
      width: 400px;
      padding: 30px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
      .title {
        color: #2C7BE5;
        margin-bottom: 20px;
      }
  
      .full-width {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  